body {
	font-family: Arial;
}

table {
	width: 100%;
	border-collapse: collapse;
}

tr:nth-child(1) {
	font-weight: bold;
	border-bottom: 1pt solid black;
}

td:nth-child(1) {
	width: 10%;
}

td:nth-child(2) {
	width: 50%;
}

td:nth-child(3) {
	width: 40%;
	text-align: right;
}

btn {
	display: inline-block;
	margin: 0 .1em;
	padding: .1em .6em;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif;
	line-height: 1.4;
	color: #242729;
	text-shadow: 0 1px 0 #fff;
	background-color: #e1e3e5;
	border: 1px solid #adb3b9;
	border-radius: 3px;
	box-shadow: 0 1px 0 rgba(12, 13, 14, 0.2), 0 0 0 2px #fff inset;
	white-space: nowrap;
}

.container {
}

.gamecvs {
	position: absolute;
}

.infobox {
	position: absolute;
	background: #fff;
	color: #000;
	width: 480px;
	
	margin: 50px -200px -50px 200px;
	padding: 15px 15px 15px 15px;
	box-sizing: border-box;

	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mybutton {
	float: right;
	display: block;

	color: #fff;
	background: #5dc8cd;

	width: 120px;
	font-weight: 600;
	text-align: center;
	line-height: 40px;
	border-radius: 5px;
	transition: all 0.2s;
}

.mybutton:hover {
	background: #01939a;
}

.filter {
	float: right;
	display: block;

	color: #FFF;
	background: #5DC8CD;

	width: 100px;
	font-weight: 600;
	text-align: center;
	line-height: 30px;
	border-radius: 5px;
	transition: all 0.2s;
}

.filter:hover {
	background: #01939A;
}

.btnmenu {
	position: relative;
}

.btnpop {
	display: inline-block;
	margin: 0 auto;
}

.btnnext {
	width: 40px;
	position: relative;
	float: left;
}

.btnselect {
	position: relative;
	float: right;
	width: 80px;
	line-height: 30px;
}